/*==================== General ====================*/
.site-nav,
.contacts,
.header-nav,
.main-nav,
.list.strengths,
.strengths-icon,
.list.work,
.list.team,
.selector,
.gallery-list,
.list.customers,
.customer-link,
.footer .container,
.list-social-media,
.list-social-media-link,
.subscribe-form {
  display: flex;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*==================== Header ====================*/
.header {
  box-shadow: var(--shadow);
}

/*.header-nav {
  padding-top: 24px;
  padding-bottom: 24px;
}*/

.header-nav,
.main-nav {
  align-items: center;
}

.site-nav {
  margin-left: 77px;
}

.site-nav .item:not(:first-child) {
  margin-left: 40px;
}

.contacts {
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 40px;
}

/*==================== Footer ====================*/

.footer .container {
  align-items: baseline;
}

.list-social-media {
  justify-content: space-between;
}

.footer-right {
  width: 208px;
  margin-left: 120px;
  padding: 0;
}

.footer-subscribe {
  margin-left: 80px;
}

.subscribe-form {
  justify-content: center;
  column-gap: 24px;
}

/*==================== Index.html ====================*/

.strengths-icon {
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background-color: var(--third-color);
}

.section.work {
  padding-top: 0;
}

.list.strengths .item + .item,
.list.work .item + .item,
.list.team .item + .item {
  margin-left: var(--gap24);
}

.list.strengths .item {
  width: 264px;
}

.team-item-text {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.team .list-social-media {
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.section-work-title,
.section-team-title,
.section-customers-title {
  text-align: center;
  margin-bottom: 72px;

  color: var(--secondary-color);
  font-size: 36px;
  line-height: 1.11;
}

.section-customers-title {
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.list.customers {
  justify-content: space-between;
}

/*
flex-grow footer?

1-1
breakpoints -20min
min-width - 30min
flex min-width, max-width - 64min
-margin - 65min
display: none - 76min
min-width, max-width - 85min
button-menu - 101min
aria-label - 107min
aria-expended - 115min
content-menu - 116min
aria-controls - 120min

1-2
sass-super - 1min
scroll for modal window - 8min
script for body - 10min
breakpoint for modal-menu - 12min
hero - 18min
modal-menu - 20min
script x2, menu-button - 60min
width of container - 63min
nav-menu - 64min
pravilnaya razmetka html - 67min
team cards - 76min
delete width/height/flex - 86min 
strengths cards - 95min

1-3 img
max-width - 4min
height:auto - 5min
!!!global img styles - 5.36min
img for retina - 11min
responsive img - 12min
srcset - 15min
descriptor X - 20min
descriptor W - 24min
sizes - 31min
responsive gallery - 42min
picture - 70 min

1-4
sizes v picture - 1min
hero img - 4min

2-1
mobile styles - max-width 767px - 89min

2-2
bcg image - 25 min
bcg FULL-media - 38min
img - 44min
picture - 59min
container - 98min, 103 min
FULL container - 107 min
menu - 115min
mobile header - 125 min
mobile menu button - 126 min
mobile menu content - 135 min
script - 150 min
is open css - 152min
shadow lifehack - 155min




3-1
min-width 320px 
max-width 448px
img display: block
    width: 100%
    height: auto
*/
